html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    border: 1px solid red;
}

/* .index-container {
} */

.main-container {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listing,
.detail {
    background-color: black;
    color: white;
    /* 
    Take up the maximum space available
    This is 100% of the container they're in. */
    height: 100%;
}

.listing {
    width: 18%;
}

.detail {
    width: 80%;
    /* 1em is 100% of a current element's font size */
    padding: 1em;
    /* 1vh is 1/100 of the height of the viewport, also there's 1vw */
    /* padding: 1vh; */
}